* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 1rem;
	background-color: #000000;
}


/* STICKY FOOTER */

.site {
	display: flex;
	min-height: 100vh; 
	flex-direction: column; 
}

.site-content {
	flex: 1; 
}

/* STICKY FOOTER */

header {
	background-color: #e8e9c3;
	text-align: center;
	padding: 5%;
}

#hide {
	display: none;
}

h1, h2 {
	font-family: 'Merienda', cursive;
	font-size: 2rem;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

h3 {
	font-family: 'Merienda', cursive;
	font-size: 1.5rem;
	text-align: center;
}

/* START NAVIGATION */

nav {
	font-family: 'Oxygen', sans-serif;
	font-size: 1rem;
}

nav ul {
	list-style-type: none;
	color: #8e2064;
}

nav ul li {
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	padding: 2%;
}

nav ul li a:link, nav ul li a:visited {
	text-decoration: none;
	color: #8e2064;
}

nav ul li a:hover, nav ul li a:active {
	text-decoration: none;
	color: #8e2064;
}

/* END NAVIGATION */


.image-grid {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 600px;
	margin: auto;
}

img {
	width: 100%;
	max-width: 650px;
}

.text {
	width: 80%;
	margin: auto;
	text-align: left;
	padding-bottom: 10px;
}

.text-content{
	width: 100%;
	margin: auto;
}

#hotpink {
	background-color: #b92449;
}

#purple {
	background-color: #8e2064;
}

#yellow {
	background-color: #ddca3a;
}

footer { 
 	font-family: 'Oxygen', sans-serif;
	font-size: .5rem;
	background-color: #e8e9c3;
 	color: #8e2064;
 	height: 20px;
 	text-align: center;
 	padding-bottom: 20px;
 	padding-top: 10px;
}

@media (min-width: 600px) {

	img {
		max-width: 300px;
	}

	#large {
		max-width: 650px;
	}

	.image-grid {
		padding-top: 5px;
		max-width: 750px;
	}

}

@media (min-width: 900px) {

	.image-grid {
		padding-top: 5px;
		max-width: 900px;
	}

	img {
		max-width: 340px;
	}

}
 
@media (min-width: 1000px) {

	nav ul li {
		margin-bottom: -10%;
		font-size: 1.5rem;
	}

	main {
		display: flex;
		flex-wrap: wrap;
	}

	.image-grid {
		flex: 2;
	}

	aside {
		flex: 1;
		margin-right: 2%;
	}

	aside h3 {
		padding-top: 14px;
	}

	img {
		max-width: 240px;
	}

	.bottom {
		display: flex;
		margin: 2%;
	}

	aside { order: 2; }
	.image-grid { order: 1; }
	.text-content {order: 3;}

}

@media (min-width: 1900px) {

	.image-grid {
		max-width: 1900px;
			}

	img {
		max-width: 300px;
	}
 
}